#### General Dependencies
matplotlib>=3.9.2 # nice plots.
numpy>=1.26.4 # Powerful n-dimensional arrays and numerical computing tools
pandas>=2.2.2 # data analysis and manipulation tool
pip # Python's package-management system
scikit-learn>=1.5.1 # machine learning library
scipy>=1.13.1 # scientific/technical computing library
seaborn>=0.13.2 # beautiful plots
nbconvert>=7.16.3

